<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @writer.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @writer.address %>
</p>

<p>
  <strong>Country:</strong>
  <%= @writer.country['name'] %>
</p>

<p>
  <strong>State:</strong>
  <%= @writer.state['name'] %>
</p>

<p>
  <strong>City:</strong>
  <%= @writer.city['name'] %>
</p>

<p>
  <strong>Pincode:</strong>
  <%= @writer.pincode %>
</p>

<p>
  <strong>Active:</strong>
  <%= @writer.isActive %>
</p>

<%= link_to 'Edit', edit_writer_path(@writer) %> |
<%= link_to 'Back', writers_path %>
